@using MedicaWeb_MVC.ViewModels
@model ListVM<CourseVM>

<div class="container py-4">
    <!-- Search and Filter Header -->
    <div class="row pb-4 header-container border-bottom border-secondary">
        <div class="col-md-6">
            @await Html.PartialAsync("~/Views/Shared/ReusableViews/_SearchBar.cshtml", Model.SearchValue)
        </div>
        <div class="col-md-6 d-flex justify-content-end gap-2">
            <form asp-controller="Courses" asp-action="Index" method="get" id="filterForm">
                <div class="d-flex gap-2">
                    <select class="form-select w-auto text-grey" name="CategoryId" asp-items="ViewBag.Categories"
                        onchange="submitForm()">
                        <option value="">All Category</option>
                    </select>
                    <select class="form-select w-auto text-grey" name="Status" asp-items="ViewBag.Status"
                        onchange="submitForm()">
                    </select>
                </div>
            </form>
            @if (User.IsInRole(AppCts.Roles.Lecturer))
            {
                <a class="btn btn-primary d-flex align-items-center gap-2" asp-controller="Courses" asp-action="Upsert">
                    <i class="bi bi-plus-lg"></i>
                    Create new
                </a>
            }

        </div>
    </div>


    <!-- Course Grid -->
    <div id="courseList" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
        @foreach (var course in Model.Items)
        {
            <div class="col"> <!-- Thêm lớp .col để Bootstrap Grid hoạt động đúng -->
                <partial name="PartialViews/_Card" model="@course" />
            </div>
        }
    </div>

    <div>
        @await Html.PartialAsync("~/Views/Shared/ReusableViews/_Paging.cshtml", Model.PagingInfo)
    </div>
</div>


<script>
    function submitForm() {
        document.getElementById("filterForm").submit();
    }

    $(#table).boostrapTable
</script>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/courses/course-client.js"></script>
