@model SearchbarVM

<form method="get" asp-action="@Model.Action" asp-controller="@Model.Controller">
	<div class="search-container">
		<input class="form-control me-sm-2 search-input" name="search" value="@Model.SearchText" type="text" placeholder="Search...">
		<i class="bi bi-search search-icon"></i>
	</div>
</form>
