@using MedicaWeb_MVC.ViewModels.Courses
@model CourseVM

<nav aria-label="breadcrumb" class="bg-white py-2 border-bottom">
    <div class="container d-flex justify-content-between align-items-center">
        <ol class="breadcrumb m-0 bg-transparent">
            <li class="breadcrumb-item"><a class="text-green" asp-controller="Courses" asp-action="Index"><i
                        class="bi bi-house-door-fill"></i></a></li>
            <li class="breadcrumb-item"><a class="text-green" asp-controller="Courses" asp-action="Details"
                    asp-route-id="@Model?.Id">@Model?.Name</a></li>
            <li class="breadcrumb-item active" aria-current="page">Classes</li>
        </ol>
    </div>
</nav>
