@using MedicaWeb_MVC.ViewModels.Courses

@model IEnumerable<CommentVM>
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0 text-green">All questions in this course <span
                    class="question-count">(@Model.Count())</span></h5>
            <button class="btn btn-orange btn-sm" data-bs-toggle="modal" data-bs-target="#askQuestionModal">
                <i class="fas fa-plus me-1"></i>New question
            </button>
        </div>
    </div>
</div>

<!-- Comment form -->
@await Html.PartialAsync("PartialViews/_CommentForm", new CommentCreateVM { ClassID = Model.First().ClassID })

<!-- Comment List -->
<div class="container mb-4">
    <!-- Question-->
    @foreach (var comment in Model)
    {
        @await Html.PartialAsync("PartialViews/_Comment", comment)
    }
</div>

@* See more *@
@if (Model.Count() > AppCts.Display.MAX_VISIBLE_COMMENTS)
{
    <div class="text-center mt-3">
        <a class="text-green" id="showMoreBtn"><i class="bi bi-chevron-down"></i> See more</a>
        <a class="text-green d-none" id="seeLessBtn"><i class="bi bi-chevron-up"></i> See less</a>
    </div>
}
