@{
	var searchBarVM = new SearchbarVM()
			{
				Action = "Search",
				Controller = "Profile",
			};
}

<!DOCTYPE html>
<html lang="en">

@* Head & Metadata *@
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MedicaWeb_MVC</title>

	@* CSSs *@
	<link rel="stylesheet" href="~/lib/bootswatch/litera/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
	<link rel="stylesheet" href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" />
	<link rel="stylesheet" href="~/MedicaWeb_MVC.styles.css" asp-append-version="true" />
</head>

@* Body *@
<body>

	@* Header *@
	<header>
		<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
			<div class="container-fluid">

				<!-- Heading -->
				<a class="navbar-brand" href="#">Medica</a>

				<!-- Search Bar (Using Partial View) -->
				<div class="flex-lg-grow-1 mx-3">
					<partial name="PartialViews/_Searchbar" model="@searchBarVM" />
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Links Items -->
				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">
								Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Course" asp-action="Index">Courses</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="News" asp-action="Index">News</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Mylearning" asp-action="Index">My Learning</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
				</div>
				<ul class="navbar-nav ms-auto d-flex flex-row gap-3">
					<!-- Cart -->
					<li class="nav-item">
						<a class="nav-link" asp-controller="Cart" asp-action="Index">
							<i class="bi bi-cart2 fs-1"></i>
						</a>
					</li>

					<!-- Profile -->
					<li class="nav-item">
						<a class="nav-link" asp-controller="Account" asp-action="Index">
							<i class="bi bi-person-circle fs-1"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	@* Container *@
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	@* Footer *@
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - MedicaWeb_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	@* jQuery and Libraries - Load them at the bottom to optimize performance *@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/toastr.js/toastr.min.js"></script>
	<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/lib/datatables.net/datatables.min.js" />
	<script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
