<footer class="footer text-white bg-body-tertiary" data-bs-theme="dark">
	<div class="container-fluid">
		&copy; 2025 - MedicaWeb_MVC - <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
</footer>