@{
    ViewData["Title"] = "Trang chủ";
}

<style>
    .logo {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--green-dark-color);
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .navbar-nav .nav-link {
        color: white !important;
        font-weight: 500;
        font-size: medium
    }

    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        color: var(--green-dark-color) !important;
        text-decoration: underline;
    }
</style>

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container">
            <!-- Logo -->
            <a class="logo" asp-controller="Home" asp-action="Index"> Medica </a>

            <!-- Navbar content -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav gap-5">
                    <li class="nav-item"><a class="nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-controller="News" asp-action="Index">News</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="MyLearning" asp-action="Index">My
                            Learning</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </div>

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav ms-auto d-flex flex-row gap-3">
                    <!-- Cart -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Cart" asp-action="Index">
                            <i class="bi bi-cart2 fs-2"></i>
                        </a>
                    </li>

                    <!-- Profile -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Index">
                            <i class="bi bi-person-circle fs-2"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Logout">
                            <i class="bi bi-box-arrow-right fs-2"></i>
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <!-- Login -->
                <div class="d-flex align-items-center ms-auto">
                    <a class="btn btn-green-outline me-2" asp-controller="Accounts" asp-action="Register">Register</a>
                    <a class="btn btn-green" asp-controller="Accounts" asp-action="Login">Login</a>
                </div>
            }
        </div>
    </nav>
</header>
